bin
.cache
include/NaturalAspects.def
include/NaturalAspects-parenthesize.str
include/NaturalAspects-Permissive.def
include/NaturalAspects.generated.pp.af
include/NaturalAspects.packed.esv
include/NaturalAspects.pp.af
include/NaturalAspects.rtg
include/NaturalAspects.str
include/NaturalAspects.tbl
include/naturalaspects.rtree
include/naturalaspects.ctree
include/naturalaspects.ctree.dep
include/naturalaspects.jar
editor/java/trans
editor/NaturalAspects-*.generated.esv
syntax/NaturalAspects*.generated.esv
.settings/org.eclipse.jdt.core.prefs
utils
lib/*.generated.str
lib-refactoring/*.generated.str
